<body>


    <app-nav-bar></app-nav-bar>
    <div class="container-addorder-item">
        <div class="border-addorder">
            <div class="title-addorder">
                <table>
                    <tr>
                        <td>
                            <h4>รายชื่อลูกค้าที่มียอดค้าชำระทั้งหมด</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div style="height: 90%; overflow: auto;">
            <p-table [value]="cusDbdt">
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col" style="text-align: center;">ลำดับที่</th>
                  <th scope="col" style="text-align: center;">ชื่อลูกค้า</th>
                  <th scope="col" style="text-align: center;">เครดิตคงเหลือ</th>
                  <th scope="col" style="text-align: center;">ยอดค้างชำระ</th>
                  <th scope="col" style="text-align: center;">สถานะ</th>
                  <th scope="col" style="text-align: center;">ACTION</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-cusdb let-i="rowIndex">
                <tr style="text-align: center;">
                  <td style="text-align: center;">{{ i + 1 }}</td>
                  <td style="text-align: center;">{{ cusdb.cus_name }}</td>
                  <td style="color: green;text-align: center;">{{ cusdb.cus_credit }} เครดิต</td>
                  <td style="color: red;text-align: center;">{{ cusdb.ods_values }} บาท</td>
                  <td style="text-align: center;" [ngClass]="{ 'green-message': cusdb.state_name === 'ชำระเงินแล้ว', 'red-text': cusdb.state_name === 'ค้างชำระ' }">{{ cusdb.state_name }}</td>
                  <td style="text-align: center;">
                    <button pButton pRipple class="p-button-success" *ngIf="cusdb.state_id == 4">ชำระเงินแล้ว</button>
                    <p-button  pRipple (click)="showInfo(cusdb.ods_id, cusdb.cus_id)" *ngIf="cusdb.state_id == 3">ชำระเงิน</p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          
    </div>
</body>