<body>


    <app-nav-bar></app-nav-bar>
    <div class="container-addorder-item">
        <div class="border-addorder">
            <div class="title-addorder">
                <table>
                    <tr>
                        <td>
                            <h4>รายชื่อลูกค้าที่มียอดค้าชำระทั้งหมด</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div style="height: 90%;overflow: auto;">
            <table class="table">
                <thead class="thead-dark sticky-top">
                    <tr>
                        <th scope="col" style="text-align: center;">ลำดับที่</th>
                        <th scope="col" style="text-align: center;">ชื่อลูกค้า</th>
                        <th scope="col" style="text-align: center;">เครดิตคงเหลือ</th>
                        <th scope="col" style="text-align: center;">ยอดค้างชำระ</th>
                        <th scope="col" style="text-align: center;">สถานะ</th>
                        <th scope="col" style="text-align: center;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cusdb of cusDbdt;let i = index;" style="text-align: center;">
                        <td>{{i +1}}</td>
                        <td>{{cusdb.cus_name}}</td>
                        <td style="color: green;">{{cusdb.cus_credit}} เครดิต</td>
                        <td style="color: red;">{{cusdb.ods_values}} บาท</td>
                        <td [ngClass]="{ 'green-message': cusdb.state_name === 'ชำระเงินแล้ว', 'red-text': cusdb.state_name === 'ค้างชำระ' }">{{cusdb.state_name}}</td>
                        <td>
                            <button type="button" class="btn btn-success" *ngIf="cusdb.state_id == 4">ชำระเงินแล้ว</button>
                            <button type="button" class="btn btn-primary" (click)="showInfo(cusdb.ods_id,cusdb.cus_id)" *ngIf="cusdb.state_id == 3">ชำระเงิน</button>
                        </td>
                        

                    </tr>
                </tbody>


            </table>
        </div>
    </div>
</body>