<body>

    <app-nav-bar></app-nav-bar>
    <div class="container-addorder-item">
        <div class="border-addorder">
            <div class="title-addorder">
                <table>
                    <tr>
                        <td>
                            <h4>คำสั่งซื้อทั้งหมด</h4>
                        </td>
                        <td style="text-align: right">
                            <button class="btn btn-primary rounded-pill">เพิ่มคำสั่งซื้อ+</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">ชื่อผู้สั่งซื้อ</th>
                    <th scope="col">ชื่อสินค้า</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">ประเภทจ่าย</th>
                    <th scope="col">ราคารวม</th>
                    <th scope="col">วันที่</th>
                </tr>
            </thead>
            <!-- รอการ Queryจากฐานข้อมูล -->
            <tbody>
                <tr>
                    <th scope="row">N/A</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

            </tbody>
        </table>
    </div>


</body>