body{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Thai';
}
.container-addorder-item{
    width: 100%;
    height: 90vh;
}
.border-addorder{
    margin: 20px;
}
.title-addorder{
    display: flex;
    align-items: center;
}
.title-addorder table{
    width: 100%;
}
.green-message {
    color: green;
  }
  
  .red-text {
    color: red;
  }
  .red-color {
    color: red;
  }
  
  .out-of-stock {
    color: gray;
  }
  .havein-of-stock{
    color: green;
  }
  .exceeded-message {
    color: red;
  }
  .custom-dialog-container{
    width: 500px;
  }