<body>


    <app-nav-bar></app-nav-bar>
    <div class="container-addorder-item">
        <div class="border-addorder">
            <div class="title-addorder">
                <table>
                    <tr>
                        <td>
                            <h4>คำสั่งซื้อทั้งหมด</h4>
                        </td>
                        <td style="text-align: right">
                            <a href="/add-order-new" class="btn btn-primary rounded-pill">เพิ่มคำสั่งซื้อ+</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="height: 90%;overflow: auto;">
            <table class="table">
                <thead class="thead-dark sticky-top">
                    <tr>
                        <th scope="col" style="text-align: center;">Order ID</th>
                        <th scope="col" style="text-align: center;">ชื่อผู้สั่งซื้อ</th>
                        <th scope="col" style="text-align: center;">เจ้าหน้าที่</th>
                        <th scope="col" style="text-align: center;">ประเภทจ่าย</th>
                        <th scope="col" style="text-align: center;">สถานะ</th>
                        <th scope="col" style="text-align: center;">วันที่</th>
                        <th scope="col" style="text-align: center;">ACTION</th>
                    </tr>
                </thead>
                <!-- รอการ Queryจากฐานข้อมูล -->
                <tbody *ngFor="let order of orderList;let i = index">
                    <tr>
                        <td style="text-align: center;">{{ order.order_id}}</td>
                        <td style="text-align: center;">{{order.cus_name}}</td>
                        <td style="text-align: center;">{{order.user_name}}</td>
                        <td style="text-align: center;">{{order.order_type_name}}</td>
                        <td style="text-align: center;"
                            [ngClass]="{ 'green-message': order.state_name === 'ชำระเงินแล้ว', 'red-text': order.state_name === 'รอชำระเงิน' }">
                            {{order.state_name}}</td>
                        <td style="text-align: center;">{{ order.order_date }}</td>
                        <td>
                            <div style="display: flex;">
                                <div style="margin: 1px;">
                                    <button type="button" class="btn btn-info"
                                        (click)="showInfo(order.order_id,order.cus_name)">รายละเอียด</button>
                                    <app-popup-detail-order *ngIf="infoOrder[order.order_id]"></app-popup-detail-order>
                                </div>
                                <div style="margin: 1px;">
                                    <button class="btn btn-success btn-block" (click)="openPDF(order.order_id)">ออกใบเสร็จ</button>
                                </div>
                                <div style="margin: 1px;">
                                    <button type="button" class="btn btn-warning"
                                        *ngIf="order.state_name === 'รอชำระเงิน'">ชำระเงิน</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody id="pdfContent">
                    <tr *ngFor="let order of orderList; let i = index">
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</body>