<body>
    

<app-nav-bar></app-nav-bar>
<div class="container-addorder-item">
  <div class="border-addorder">
    <div class="title-addorder">
      <table>
        <tr>
          <td>
            <h4>รายการสินค้าทั้งหมด</h4>
          </td>
          <td style="align-items: right;">
            <form action="">
              <input class="form-control mr-sm-2" type="search" placeholder="ค้นหาสินค้า" aria-label="ค้นหาสินค้า">
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <p-table [value]="value_pd" class="p-datatable">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%;">ลำดับที่</th>
        <th scope="col" style="text-align: center;">ชื่อสินค้า</th>
        <th scope="col" style="text-align: center;">ประเภท</th>
        <th scope="col" style="text-align: center;">ขนาด</th>
        <th scope="col" style="text-align: center;">สำหรับ</th>
        <th scope="col" style="text-align: center;">จำนวนคงเหลือ</th>
        <th scope="col" style="text-align: center;">ราคาขาย/ชิ้น</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-total let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td style="text-align: center;">{{ total.prd_name }}</td>
        <td style="text-align: center;">{{ total.type_prd_name }}</td>
        <td style="text-align: center;">{{ total.size_name }}</td>
        <td style="text-align: center;">{{ total.type_name }}</td>
        <td style="text-align: center;">{{ total.prd_value }} ชิ้น</td>
        <td style="text-align: center;">{{ total.prd_sell }} บาท</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</body>