<div class="popup-container">
    <div class="border-popup">
        <div class="set-margin-popup">
            <div class="cosspop">
                <a href="/add-order-new">X</a>
            </div>
            <h1>เพิ่มรายชื่อลูกค้าใหม่</h1>
            <table>
                <tr>
                    <td>
                        ชื่อ
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="name_cus_new" name="name_cus_new">
                    </td>
                    <td>
                        ที่อยู่
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="address_cus_new" name="name_cus_new">
                    </td>
                    <td>
                        เบอร์โทร
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="phone_cus_new" name="name_cus_new">
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="send_data_succ()">บันทึก</button>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>