<app-nav-bar></app-nav-bar>
<p-panel header="สรุปยอดขายทั้งหมด">
  <p-button label="ออกรายงาน" styleClass="p-button-rounded p-button-sm" icon="pi pi-plus"
    (click)="exportDataToExcel()"></p-button>
    <input type="text" pInputText placeholder="ค้นหารายงานสินค้า" [(ngModel)]="orderNumberFilter">
  <p-table [value]="filterOrders()">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ลำดับที่</th>
        <th scope="col">ชื่อสินค้า</th>
        <th scope="col">จำนวนที่ขายได้</th>
        <th scope="col">ราคาต่อชิ้น</th>
        <th scope="col">ราคาขายรวม</th>
        <th scope="col">ราคาทุนรวม</th>
        <th scope="col">กำไรสุทธิ</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Report let-i="rowIndex">
      <tr>


        <td scope="row">{{i +1}}</td>
        <td>{{Report.prd_name}}</td>
        <td>{{Report.order_values}}</td>
        <td>N/A</td>
        <td>{{Report.order_sum}}</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
