body{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Thai';
}
.container-addorder-item{
    width: 100%;
    height: 90vh;
}
.border-addorder{
    margin: 20px;
}
.title-addorder{
    display: flex;
    align-items: center;
}
.title-addorder table{
    width: 100%;
}
/* pickup-product.component.css */
.blur-background {
    filter: blur(4px); /* Adjust the blur radius as desired */
    pointer-events: none; /* Prevent interaction with the background */
  }

.pickin-show{
    height: 80%;
    overflow: auto;
}