<body>

    <app-nav-bar></app-nav-bar>
    <div class="container-addorder-item">
        <div class="border-addorder">
            <div class="title-addorder">
                <table>
                    <tr>
                        <td>
                            <h4>รายการสินค้ารับเข้า</h4>
                        </td>
                        <td style="text-align: right">
                            <a href="/total_item" class="btn btn-primary rounded-pill">สินค้าทั้งหมด</a>
                        </td>
                        <td style="text-align: right">
                            <button class="btn btn-primary rounded-pill">รับเข้าสินค้า+</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">บริษัทขนส่ง</th>
                    <th scope="col">ชื่อสินค้า</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">ผู้ตรวจสอบ</th>
                    <th scope="col">ราคารับเข้า/ชิ้น</th>
                    <th scope="col">ราคารวม</th>
                    <th scope="col">วันที่</th>
                </tr>
            </thead>
            <!-- รอการ Queryจากฐานข้อมูล -->
            <tbody>
                <tr>
                    <th scope="row">N/A</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

            </tbody>
        </table>
    </div>


</body>