<form (ngSubmit)="add_new_products()">
  <div class="popup-container">
    <div class="border-popup">
      <div class="cosspop">
        <a href="/pickin_products">X</a>
      </div>
      <div class="set-margin-popup">
        <table>
          <tr>
            <td style="width: 10%;">
              ชื่อสินค้า
            </td>
            <td>
              <input type="text" [(ngModel)]="name_new_pd" name="name_new_pd" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>
            <td style="width: 10%;">
              ขนาด
            </td>
            <td>
              <input type="text" [(ngModel)]="size_name_new" name="size_name_new" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </td>
            <td style="width: 10%;">
              สำหรับ
            </td>
            <td>
              <section>
                <select [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }" class="form-control">
                  <option value="">โปรดเลือก...</option>
                  <option *ngFor="let option of type_prd" [value]="option.type_prd_id">{{ option.type_prd_name }}
                  </option>
                </select>
              </section>
            </td>
            <td style="width: 10%;">ประเภทสินค้า</td>
            <td>
              <input type="text" [(ngModel)]="type_name" name="value_new" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>

          </tr>
          <tr>
            <td style="width: 10%;">รับมาจาก</td>
            <td><input type="text" [(ngModel)]="where_pick_pd" name="where_pick_pd" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>
            <td style="width: 10%;">จำนวน</td>
            <td>
              <input type="number" [(ngModel)]="value_new" name="value_new" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>
            <td>
              ราคาทุน
            </td>
            <td>
              <input type="number" [(ngModel)]="price_in" name="price_in" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>
            <td>ราคาขาย</td>
            <td>
              <input type="number" [(ngModel)]="price_sell" name="price_sell" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </td>
          </tr>
        </table>
        <br>
        <table style="width: 100%;">
          <tr>
            <td style="text-align: left;">
              <button type="submit" class="btn btn-outline-primary">เพิ่ม</button> <!-- Submit button -->
            </td>
            <td style="text-align: right;">
              <button (click)="send_data()" class="btn btn-outline-success">บันทึก</button>
            </td>
          </tr>
        </table>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <th style="text-align: center;">ลำดับที่</th>
          <th style="text-align: center;">ชื่อสินค้า</th>
          <th style="text-align: center;">ขนาด</th>
          <th style="text-align: center;">สำหรับ</th>
          <th style="text-align: center;">ประเภท</th>
          <th style="text-align: center;">รับมาจาก</th>
          <th style="text-align: center;">จำนวน</th>
          <th style="text-align: center;">ราคารับเข้า</th>
          <th style="text-align: center;">ราคาขาย</th>
        </thead>
        <tbody *ngFor="let product of products;let i = index">
          <td style="text-align: center;">{{i+1}}</td>
          <td style="text-align: center;">{{ product.name }}</td>
          <td style="text-align: center;">{{ product.size }}</td>
          <td style="text-align: center;">{{product.type_prd_name}}</td>
          <td style="text-align: center;">{{product.type_name}}</td>
          <td style="text-align: center;">{{product.where}}</td>
          <td style="text-align: center;">{{product.value_new}}</td>
          <td style="text-align: center;">{{product.price_in}}</td>
          <td style="text-align: center;">{{product.price_sell}}</td>
        </tbody>
      </table>
    </div>
  </div>
</form>