<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <app-nav-bar></app-nav-bar>
    <div class="container-dashboard-item">

           <a href="/add_order" class="box-select-menu">รายการสั่งซื้อ และ เพิ่มคำสั่งซื้อ</a> 
            <a href="/pickin_products" class="box-select-menu">รับเข้าสินค้า</a>    
            <a href="/total_item" class="box-select-menu">จำนวนสินค้าคงเหลือ</a>     
            <a href="/report_sell" class="box-select-menu">รายงานยอดขาย</a>
    </div>
</body>