<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <app-nav-bar></app-nav-bar>
    <div class="container-dashboard-item">
        <div class="box-select-menu">
           <a href="/add_order">รายการสั่งซื้อ และ เพิ่มคำสั่งซื้อ</a>
        </div>
        <div class="box-select-menu">
            <a href="/pickin_products">รับเข้าสินค้า</a>
        </div>
        <div class="box-select-menu">
            <a href="/total_item">จำนวนสินค้าคงเหลือ</a>
        </div>
        <div class="box-select-menu">
            <a href="/report_sell">รายงานยอดขาย</a>
        </div>
    </div>
</body>