body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Thai';
  }
  
  .container-dashboard-item {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-select-menu {
    width: 25%;
    height: 50%;
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px;
    background: #001A53;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
  .box-select-menu:hover {
    width: 25%;
    height: 50%;
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px;
    background: #0d4fdc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
  
  .box-select-menu a {
    font-size: 18px;
    color: white;
  }
  
  /* Responsive styles */
  
  @media screen and (max-width: 768px) {
    .container-dashboard-item {
        flex-direction: column;
        height: 350px;
      }
      
      .box-select-menu {
        width: 80%;
        height: 30%;
        margin: 10px;
      }
  }
  
  @media screen and (max-width: 480px) {
    .container-dashboard-item {
      flex-direction: column;
      height: 350px;
    }
    
    .box-select-menu {
      width: 80%;
      height: 30%;
      margin: 10px;
     
    }
  }
  