<app-nav-bar></app-nav-bar>
<div style="display: flex;">
    <div style="margin: 10px;">
            <p-card header="จำนวนใบสั่งซื้อ" [style]="{ width: '360px' }">

                    <i class="pi pi-cart-plus" style="font-size: 2.5rem;color: green;"></i>

                <h3 *ngFor="let order of orDerl; let i = index">{{ order}} รายการ</h3>
            </p-card>
        </div>
        <div style="margin: 10px;">
            <p-card header="จำนวนใบสั่งซื้อที่รอตรวจรับ" [style]="{ width: '360px' }">
                <i class=" pi pi-sign-in" style="font-size: 2.5rem;color: #DFA003;"></i>
                <h3 *ngFor="let order2 of wait; let i = index">{{ order2}} รายการ</h3>
            </p-card>
        </div>
        <div style="margin: 10px;">
            <p-card header="จำนวนใบสั่งซื้อที่ตรวจรับแล้ว" [style]="{ width: '360px' }">
                <i class=" pi pi-sign-in" style="font-size: 2.5rem;color: green;"></i>
                <h3 *ngFor="let order3 of comp; let i = index">{{ order3}} รายการ</h3>
            </p-card>
        </div>
        <div style="margin: 10px;">
            <p-card header="จำนวนผู้ใช้งานระบบ" [style]="{ width: '360px' }">
                <i class=" pi pi-user" style="font-size: 2.5rem;color: green;"></i>
                <h3 *ngFor="let user of user; let i = index">{{ user}} รายการ</h3>
            </p-card>
        </div>
       
</div>