<app-nav-bar></app-nav-bar> <p-toast></p-toast>
<p-panel header="รายชื่อลูกค้า">
    <p-button (click)="showDialog2()" icon="pi pi-user" styleClass="p-button-info"
        label="เพิ่มรายชื่อลูกค้า">+</p-button>
    <p-dialog header="Header" [(visible)]="visible2" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">เพิ่มรายชื่อลูกค้าใหม่</span>
        </ng-template>
        <table>
            <tr>
                <td style="text-align: right;">
                    ชื่อ-สกุล:
                </td>
                <td style="text-align: left;">
                    <input type="text" pInputText [(ngModel)]="name_cus_new" name="name_cus_new"
                        placeholder="ชื่อ-สกุล">
                </td>
                <td style="text-align: right;">
                    เบอร์โทร:
                </td>
                <td style="text-align: left;">
                    <input pInputText pKeyFilter="int" placeholder="เบอร์โทร" [(ngModel)]="phone_cus_new"
                        name="name_cus_new" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    ที่อยู่:
                </td>
                <td style="text-align: left;">
                    <textarea pInputTextarea [(ngModel)]="address_cus_new" name="name_cus_new"
                        placeholder="ที่อยู่"></textarea>
                </td>
                <td style="text-align: right;">
                    เครดิตเริ่มต้น
                </td>
                <td style="text-align: left;">
                    <input pInputText pKeyFilter="int" placeholder="เครดิตเริ่มต้น" [(ngModel)]="credit_new"
                        name="credit_new" />
                </td>
            </tr>
        </table>
        <ng-template pTemplate="footer">
            <p-confirmPopup></p-confirmPopup>
            <p-button (click)="send_data_succ($event)" icon="pi pi-check" label="บันทึก"></p-button>
        </ng-template>
        
    </p-dialog>
</p-panel>
<p-panel header="ค้นหาชื่อลูกค้า">
    <input type="text" pInputText placeholder="ค้นหาชื่อลูกค้า" [(ngModel)]="orderNumberFilter">
</p-panel>
    
        <p-table [value]="filterOrders()" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="text-align: center;">ลำดับที่</th>
                    <th scope="col" style="text-align: center;">ชื่อลูกค้า</th>
                    <th scope="col" style="text-align: center;">ที่อยู่</th>
                    <th scope="col" style="text-align: center;">เครดิคคงเหลือ</th>
                    <th scope="col" style="text-align: center;">เบอร์โทร</th>
                    <th scope="col" style="text-align: center;">รายละเอียด</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cus let-i="rowIndex">
                <tr>
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{cus.cus_name}}</td>
                    <td style="text-align: center;">{{cus.cus_address}}</td>
                    <td style="text-align: center;">{{cus.cus_credit}}</td>
                    <td style="text-align: center;">{{cus.cus_numphone}}</td>
                    <td style="text-align: center;">
                        <p-button label="แก้ไข" styleClass="p-button-rounded p-button-warning p-button-sm" (click)="editCusdetail(cus.cus_id)"></p-button>
                        &nbsp;
                        <p-button label="ลบ" styleClass="p-button-rounded p-button-danger p-button-sm"></p-button>
                      </td>
                    
                </tr>
            </ng-template>
        </p-table>
